.splash{
	height:100vh;
	margin-top: 100px;
}

.circular{
	height:200px;
	width:200px;
	border-radius: 100px;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	position: relative;

}
.none{
	padding-top: 40px;
	display:none;
}

