<template name="completeSignup">

<head>
<title>Gervia | Complete Registration</title>

 <link rel="stylesheet" type="text/css" href="../galaxy/galaxy.css">

</head>


<body>
<div g="8 centered">
<h2 g="l-margin-tb">Complete your registration!</h2>
</div>
<hr style="margin-top:10px;margin-top:10px;">

<form action="#">
    <input type="email" placeholder="Your email" required>
    <input type="password" placeholder="Your password" required>
    <input type="submit" value="Sign in" required>
</form>



</body>



</template>