<template name="completeSignup">
<style>
a:visited{
  border:none;
  outline:none;
}

a:focus {
  border: none;
  outline: none;
}

</style>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">
        <img alt="Brand" src="/images/top.png" style="height:25px;">
      </a>
    </div>
    <div style="margin-top:15px;">
    {{> loginButtons}}
</div>
  </div>
</nav>
	<div class="col-md-8 col-md-offset-2 text-center">
		<h1>Complete the signup here!</h1>
		<hr>
	<form action="" class="form-horizontal">    
			<label for="userName">So you can log in later.</label>
		<div class="form-group">
		<input type="text" name="userName" placeholder ="username" id="userName">
		</div>
		<label for="firstName">The affected's first name</label>
		<div class="form-group"><input type="text" name="firstName" placeholder ="first name" id="firstName"></div>
		<label for="lastName">The affected's last name</label>
		<div class="form-group"><input type="text" name="lastName" placeholder ="last name" id="lastName"></div>
		<label for="age">The affected's age</label>

		<div class="form-group"><input type="number" name="age" placeholder ="age" id="age"></div>
		<label class="radio-inline" style="margin-top:-20px;">
  <input type="radio" name="gender" id="gender" value="male"> male
</label>
<label class="radio-inline" style="margin-top:-20px;">
  <input type="radio" name="gender" id="gender" value="female"> female
</label>		
		<div class="form-group"><input type="text" name="fathersName" placeholder ="fathers name" id="fathersName"></div>
				<label for="fathersName">What is the affected's father's name?</label>

		<div class="form-group"><input type="text" name="mothersName" placeholder ="mothers name" id="mothersName"></div>
				<label for="mothersName">What is the affected's mother's name?</label>

		<div class="form-group"><input type="submit" info="submit" id="submit"></div>

		</form>

	</div>

</template>
