<template name="completeSignup">

<head>
<title>Gervia | Complete Registration</title>

 <link rel="stylesheet" type="text/css" href="../galaxy/galaxy.css">

</head>


<body>
<div g="8 centered">
	<h2 g="l-margin-tb">Complete your registration!</h2>
</div>
<hr style="margin-top:10px;margin-bottom:20px;">

	<section style="padding-bottom:40px">


<div g="10 centered">
<form g="column">
    <input type="text" placeholder="username" name="userName" required> So you can log in later.
    <input type="text" placeholder="first name" name="firstName" required> 
    <input type="text" placeholder="last name" name="lastName" required> 
    <input type="number" placeholder="  your age" name="age" required>
    <input type="text" placeholder="gender" name="gender" required> 
    <input type="text" placeholder="mothers name" name="mothersName" required> 
    <input type="text" placeholder="fathers name" name="fathersName" required> 

 



    <input type="submit" value="Sign in" required> 
</form>
</div>
</section>

</body>



</template>