<template name="homePage">

    <style type="text/css">
    #login-buttons a{
	text-decoration: none;
}</style>
    <body> 
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">
        <img alt="Brand" src="...">
      </a>
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">More <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="/settingsPage">Home Page</a></li>
          </ul>
         </li> </ul>
     </div>
    
    <div style="margin-top:15px;">
    {{> loginButtons}}
</div>
  </div>
</nav>
<section class="container">
<div class="col-md-6" style="background-color:white;height:400px;border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;">

<table class="table">
	 <tr>
	 	<th>Name</th>
    
  </tr>
  <tr>
    <td>Eve</td>
    <td>Jackson</td> 
    <td>94</td>
  </tr>

</table>


</div></section>



</body>


</template>