<template name="mainPage">

<head>
	<link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
<style type="text/css">
.circular{
	width: 150px;
	height: 150px;
	border-radius: 75px;
	-webkit-border-radius: 75px;
	-moz-border-radius: 75px;
}
#login-buttons a{
	text-decoration: none;
}

</style>
</head>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">
        <img alt="Brand" src="...">
      </a>
    </div>
    <div style="margin-top:15px;">
    {{> loginButtons}}
</div>
  </div>
</nav>
	<body>
		<div class="overlay wow bounceInLeft">
		<div class="col-md-4 col-md-offset-4" style="padding-top:20px;">
		<img src="/images/logo.png" style="height:100px" class="img-responsive center-block"></div>
		<div class="col-md-12 text-center">
			<h1 style="font-size:60px;">Gervai</h1>
			<h5>tracking mental illness since 2015.</h5>
			<div class="col-md-6 col-md-offset-3">
			<p>Grevai is the easiest way to track the progression of mental illnesses, through intuitive and non-invasive methods and techniques. Utilizing the Pebble technology, you can track the progression of dementia and alzheimers disease.</p> 
		</div>
		</div>
	</div>
	<section class="container">
		<div class="col-xs-12 text-center" style="padding:40px 0 40px 0">

			<div class="col-xs-4"><img src="/images/interact.png" class="circular wow bounceInLeft"><h3>interact</h3><p>by measuring the degree of interaction between the patient and the pebble aaplication, Gervai is able to effectively record and store data for future comparision.</p></div>
			<div class="col-xs-4"><img src="/images/response.png" class="circular wow wobble"><h3>response</h3><p>by measuring the accurary of responses, caregivers are able to determine the degree of severity of their loved ones mental illness.</p></div>
			<div class="col-xs-4"><img src="/images/track.png" class="circular wow bounceInLeft"><h3>track</h3><p>by tracking the degree of interaction, caregivers can make informed decisions on the care and support of family members suffering from mental illness.</p></div>
		</div>
	</section>		

	</body>
<script>
 new WOW().init();
</script>
</template>



