
<template name="mainPage">


<head>
  <title>test</title>
  <script>
    new WOW().init();
    </script>
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,300,400italic,500,500italic,700,700italic,300italic' rel='stylesheet' type='text/css'>

</head>

<body>
<header>
    <a><img src="//placehold.it/150x50"></a>
    <nav>
      <ul>
         <a href="about.html"><li>About</li></a>
         <a href="login.html" target="_blank"><li>Login</li></a>
      </ul>
    </nav>
</header>


<section>
  <div g="12 centered">
    <img src="/images/gervai.png" style="margin-top:40px;margin-bottom:0px;height:100px;" classs="centered">
  </div>
  <div g="12 centered splash">
    <h1 g="n-margin" style="font-size:80px">gervai</h1>
  </div>
  <div g="12 centered">
    <h4 g="sm-margin-t">Measuring the progression of mental illness</h4>
  </div>


</section>



 <link rel="stylesheet" type="text/css" href="../galaxy/galaxy.css">
 <link rel="script" type="text/javascript" href="../galaxy/galaxy.js">
</body>


</template>
