<head>
  <title>test</title>
  <script>
    new WOW().init();
    </script>
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,300,400italic,500,500italic,700,700italic,300italic' rel='stylesheet' type='text/css'>
</head>


<body>

<nav class="navbar navbar-default" style="margin:0px;">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">
        <!--<img alt="Brand" src="/images/fedora.png">-->
      </a>
    </div>
  </div>
</nav>

<div class="col-sm-12 splash">
	<div class="col-sm-12 row center splash2">
    <div class="wow bounceInUp col-sm-offset-4 col-sm-4">
        <img src="/images/gervai.png" class="imgadjust">
  <h1 style="font-size:80px;">gervai</h1>
  <h5>Helping Alzheimers and Dementia patients since 2015.</h5>
</div>
</div>

<div class="row btn-acc"><!--TWO BUTTONS -->
  <div class="col-sm-2 col-sm-offset-4">
    <button type="button" class="btn btn-primary btn-block damn">Sign-up</button>
  </div>

  <div class="col-sm-2">
    <button type="button" class="btn btn-info btn-block">Login</button>
  </div>
</div>
</div>



<div class="container padtop infobg">
<div class="row">
<div class="col-sm-3 center wow bounceInUp">
<div class="circular"></div>
</div>
<div class="col-sm-9 wow bounceInUp">
<h4>Determine the progression of mental illnesses</h4>

<p>HELLO</p>
  </div>

</div>

  </div>

</body>



