<template name="mainPage">


<head>
  <title>Gervia</title>
</head>

<body id="main">
<header class="wow bounceInLeft">
  <nav>
      <ul>
         <a href="about.html"><li>About</li></a>
         <a id="login"><li>Login</li></a>
         <a id="register"><li>Register</li></a>
      </ul>
    </nav>
</header>

<div id="logindrop"  class="wow bounceInRight none" g="centered">
<form action="#" g="" id="login-form">
        <input type="email" id="login-email" placeHolder="email" />
        <input type="password" id="login-password" placeHolder="password"/>
        <div style="margin-top:-2px">
        <input type="submit" id="login-button" value="Sign in"/></div>
   </form>
 </div>

 <div id="registerdrop" class="wow bounceInLeft none" g="centered">
    <form g="" id="register-form">
       <input type="email" id="account-email" placeHolder="email" />
       <input type="password" id="account-password" placeHolder="password" />
               <div style="margin-top:-2px">
       <input type="submit" id="create-account" value="Create an Account" /></div>
   </form>
 </div>



<section class="wow bounceInUp">
  <div g="12 centered" style="padding-top:100px" >
    <img src="/images/gervai.png" style="margin-top:40px;margin-bottom:0px;height:100px" g="centered">
  </div>
  <div g="12 centered splash">
    <h1 g="n-margin" style="font-size:80px">gervai</h1>
  </div>
  <div g="6 centered">
    <h4 g="sm-margin-t">Mental illness is a huge problem around the world and millions suffer. Gervai allows caregivers to track the progression of mental illnesses in an intuitive and non-invasive way.</h4>
  </div>
  <div g="12 centered" style="padding-bottom:80px;">
    <button g="primary">Find out more</button>
  </div>
</section>

 <link rel="script" type="text/javascript" href="../galaxy/galaxy.js">

 <script>
$(document).ready(function(){
  $("#login").click(function(){
    $("#logindrop").toggle();
    $("#registerdrop").css('display', 'none');

  });
  $("#register").click(function(){
    $("#registerdrop").toggle();
    $("#logindrop").css('display', 'none');

  });

});
</script>
<script>
new WOW().init();
</script>


</body>


</template>
